streamlit
langchain
langchain-google-genai
langchain-huggingface
langchain-chroma
langchain-community
pypdf
chromadb
sentence-transformers
matplotlib
pandas
python-dotenv
langgraph
pytesseract
PyMuPDF
pdf2image
